@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="column-layout master-view-container">
    <IgbNavbar class="navbar" master_view-scope>
        <IgbIconButton slot="start" Variant="IconButtonVariant.Flat" @onclick="@(e => _navDrawer!.ToggleAsync())" class="icon-button" master_view-scope>
            <span class="material-icons icon">
                menu
            </span>
            <IgbRipple></IgbRipple>
        </IgbIconButton>
        <div class="row-layout group">
            <h6 class="h6">
                Reveal &amp; Blazor Server
            </h6>
        </div>
        <IgbIconButton slot="end" Variant="IconButtonVariant.Flat" class="icon-button" master_view-scope>
            <span class="material-icons icon">
                search
            </span>
            <IgbRipple></IgbRipple>
        </IgbIconButton>
        <IgbIconButton slot="end" Variant="IconButtonVariant.Flat" class="icon-button" master_view-scope>
            <span class="material-icons icon">
                favorite
            </span>
            <IgbRipple></IgbRipple>
        </IgbIconButton>
        <IgbIconButton slot="end" Variant="IconButtonVariant.Flat" class="icon-button" master_view-scope>
            <span class="material-icons icon">
                more_vert
            </span>
            <IgbRipple></IgbRipple>
        </IgbIconButton>
    </IgbNavbar>
    <div class="row-layout group_1">
        <IgbNavDrawer Open="true" Position="NavDrawerPosition.Relative" @ref="_navDrawer" class="nav-drawer" master_view-scope>
            <IgbNavDrawerItem @onclick="@(() => NavigationManager.NavigateTo("/basic-load"))">
                <span slot="icon">
                    <span class="material-icons icon_1">
                        home
                    </span>
                    <IgbRipple></IgbRipple>
                </span>
                <div slot="content">Basic Load</div>
            </IgbNavDrawerItem>
            <IgbNavDrawerItem @onclick="@(() => NavigationManager.NavigateTo("/basic-add"))">
                <span slot="icon">
                    <span class="material-icons icon_1">
                        dns
                    </span>
                    <IgbRipple></IgbRipple>
                </span>
                <div slot="content">Basic Add</div>
            </IgbNavDrawerItem>
            <IgbNavDrawerItem @onclick="@(() => NavigationManager.NavigateTo("/filter-api"))">
                <span slot="icon">
                    <span class="material-icons icon_1">
                        filter_alt
                    </span>
                    <IgbRipple></IgbRipple>
                </span>
                <div slot="content">Filter API</div>
            </IgbNavDrawerItem>
            <IgbNavDrawerItem @onclick="@(() => NavigationManager.NavigateTo("/dashboard-thumbnails"))">
                <span slot="icon">
                    <span class="material-icons icon_1">
                        view_kanban
                    </span>
                    <IgbRipple></IgbRipple>
                </span>
                <div slot="content">Thumbnails</div>
            </IgbNavDrawerItem>
            <IgbNavDrawerItem @onclick="@(() => NavigationManager.NavigateTo("/viz-catalog"))">
                <span slot="icon">
                    <span class="material-icons icon_1">
                        data_thresholding
                    </span>
                    <IgbRipple></IgbRipple>
                </span>
                <div slot="content">Viz Catalog</div>
            </IgbNavDrawerItem>
        </IgbNavDrawer>
        <div class="view-container">
            @Body
        </div>
    </div>
</div>

@code {
    private IgbNavDrawer _navDrawer;
}
